:root{
    --col: rgba(42, 171, 245, 0.871);
    --col2: rgba(0, 90, 246, 0.777);
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 550px;
    margin: auto;
    background: var(--col2);*/
    text-align: center;
}

nav button{
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px;
    
}

.subject{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--col);
    max-width: 550px;
    margin: 5px auto;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}


input,
label, button{
    max-width: 250px;
    margin: 10px auto;
    padding: 5px 10px;
    border-radius: 3px;
}

input{
    max-width: 170px;
}

button{
    padding: 10px 30px;
    border: 2px solid white;
    background-color: white;
    cursor: pointer;
}

.title{
    max-width: 300px;
    margin: 10px auto;
    padding: 5px 10px;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 18px;
}


.notSub{
    background-color: var(--col2);
    color: white;
}